<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navigation %>
    <div class="us">
      <div class="text-vertical-center">
        <h1></h1>
      </div>
    </div>
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Hübner University</h2>
                    <p class="lead">We wanted to create a catalog of already available online education resources along with some courses of our own to supplement skills you already have or to add a new skill to your growing arsenal.</p>
                    <p>We love the idea of always continuing your education and seeking to improve in every aspect of life.</p>
                    <p>If you find our courses helpful please leave a review!</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <% include ./partials/scripts %>
  </body>
</html>