<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navigation %>
    <% include ./partials/header %>
    <% include ./partials/scripts %>
  </body>
</html>
